<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mt-5 text-center">
          <h1>Free URL Shortener</h1>
          <p>Create short & memorable links in seconds.</p>
        </div>
      </div>
    </div>
    <form (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="fullUrl">Full URL</label>
        <input type="text" class="form-control" id="fullUrl" [(ngModel)]="fullUrl" name="fullUrl" required>
      </div>
      <button type="submit" class="btn btn-primary">Shorten URL</button>
    </form>
    <br>
    <div *ngIf="shortenedUrl" class="alert alert-success">
      Shortened URL: <a [href]="shortenedUrl" target="_blank">{{ shortenedUrl }}</a>
    </div>
</div>
  