<ng-container *ngIf="url">
  <div class="row">
    <div class="col-12">
      <h2>Details:</h2>
    </div>
  </div>
  <div class="row gap-1 text-center">
    <div class="col">
      <h3>Original URL</h3>
      <a href="{{ url.originalUrl }}" target="_blank">{{ url.originalUrl }}</a>
    </div>
    <div class="col">
      <h3>Short URL</h3>
      <a href="{{ url.shortUrl }}" target="_blank">{{ url.shortUrl }}</a>
    </div>
    <div class="col">
      <h3>Total Clicks</h3>
      <p>{{ url.clicksCounter }}</p>
    </div>
    <div class="col">
      <h3>Created At</h3>
      <p>{{ url.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-12">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-warning" (click)="onResetClicks()">Reset Clicks</button>
        <button type="button" class="btn btn-danger" (click)="onDeleteUrl()">Delete URL</button>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-12">
      <h2>Clicks:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Platform</th>
              <th scope="col">OS</th>
              <th scope="col">Browser</th>
              <th scope="col">Version</th>
              <th scope="col">Click Date</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let click of url?.clicks">
              <tr>
                <td>{{ click.platform }}</td>
                <td>{{ click.os }}</td>
                <td>{{ click.browser }}</td>
                <td>{{ click.version }}</td>
                <td>{{ click.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
