<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Original URL</th>
            <th scope="col">Short URL</th>
            <th scope="col">Clicks</th>
            <th scope="col">Created At</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let url of urls">
            <tr>
              <td>
                <a href="{{ url.originalUrl }}" target="_blank">{{ url.originalUrl }}</a>
              </td>
              <td>
                <a href="{{ url.shortUrl }}" target="_blank">{{ url.shortUrl }}</a>
              </td>
              <td>{{ url.clicksCounter }}</td>
              <td>{{ url.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
              <td class="text-center">
                <a
                  ariaLabel="View details for {{ url.shortUrl }}"
                  class="btn btn-primary btn-sm"
                  [routerLink]="['/dashboard/urls/'] + url.id"
                  ><fa-icon [icon]="faEye"></fa-icon
                ></a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
