/* You can add global styles to this file, and also import other style files */
:root {
  --color-mint: #4ecca3;
  --color-space-cadet: #2d3047;
  --color-gunmetal: #232931;
  --color-snow-white: #fffcff;
  --color-celestial-blue: #3e92cc;
  --color-old-gold: #d5b942;
  --color-engineering-orange: #ba2d0b;

  --color-accent: var(--color-mint);
  --color-primary: var(--color-celestial-blue);
  --color-secondary: var(--color-space-cadet);
  --color-black: var(--color-gunmetal);
  --color-info: var(--color-celestial-blue);
  --color-warning: var(--color-old-gold);
  --color-danger: var(--color-engineering-orange);
}

*,
html,
body {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--color-snow-white);
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-weight: 700;
}

.bg-accent {
  --bs-bg-opacity: 1;
  background-color: var(--color-accent);
}

.btn-outline-accent {
  --bs-btn-color: var(--color-snow-white);
  --bs-btn-border-color: var(--color-primary);
  --bs-btn-hover-color: var(--color-snow-white);
  --bs-btn-active-color: var(--color-snow-white);
  background-color: var(--color-primary);
}
